
  section#main{
    width: 500;
    float: left;
    margin: 0;
    padding: 0;
    display: inline;     
  }
  img {
    max-width:250px;
    height:auto
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    text-align: center;
    padding: 20px 0;
}
nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}
nav a.current {
    color: darkblue;
    font: bolder;
}
nav a.hover {
    color: darkblue;
    font: bolder;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.headshot {
    width: auto;
    height: auto;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}
.about-me {
    text-align: center;
    max-width: 600px;

}
.toggle {
    position: absolute;
    top: 10px;
    left: 10px;
}

  
  /* Style the links inside the navigation bar */
  /* landing page css*/

.main_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qual_cont {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}
  
.qual_cont > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.ser_label {
    display: grid;
    height: 40px;
    align-content: center;
    grid-template-columns: auto auto ;
    gap: 10px;
    padding: 10px;
}
.ser_label > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.ser_cont {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}
  
.ser_cont > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}